name: C++ Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install g++
      run: sudo apt install g++ -y

    - name: Compile
      run: |
        g++ *.cpp -o app

    - name: Run program
      run: |
        ./app
